<!-- users-list.component.html -->
<div class="container">
    <h1>User List</h1>
    <table class="user-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>josi</td>
          <td>josika</td>
        </tr>
        <tr>
          <td>rakshi</td>
          <td>rakshika</td>
        </tr>
        <tr>
          <td>seshu</td>
          <td>123</td>
        </tr>
        <tr>
          <td>hardik</td>
          <td>979</td>
        </tr>
        <tr>
          <td>troy</td>
          <td>900</td>
        </tr>
        <tr>
          <td>adeera</td>
          <td>adi</td>
        </tr>
        <tr>
          <td>amal</td>
          <td>davis</td>
        </tr>
        <tr>
          <td>naren</td>
          <td>xoxo</td>
        </tr>
        <tr>
          <td>ravi</td>
          <td>varma</td>
        </tr>
        <tr>
          <td>delna</td>
          <td>sqrty</td>
        </tr>
        <tr>
          <td>gemio</td>
          <td>jocky</td>
        </tr>       
      </tbody>
    </table>
    <button class="close-button">
      <a routerLink="/admindash">Close</a>
      </button>
  </div>
  
