<!-- view-orders.component.html -->
<div class="container">
    <h1>List of Products</h1>
    <table class="order-table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cinnamon Dolce Latte</td>
          <td>120</td>
        </tr>
        <tr>
          <td>Flat White</td>
          <td>110</td>
        </tr>
        <tr>
          <td>Espresso</td>
          <td>130</td>
        </tr>
        <tr>
          <td>Cold Brew</td>
          <td>170</td>
        </tr>
        <tr>
          <td>Java Chip Frauppucino</td>
          <td>135</td>
        </tr>
        <tr>
          <td>Mocha Frauppucino</td>
          <td>160</td>
        </tr>
        <tr>
          <td>Cappuccino</td>
          <td>140</td>
        </tr>
        <tr>
          <td>Caffe Mocha</td>
          <td>140</td>
        </tr>
        <tr>
          <td>Caramel Mochatio</td>
          <td>130</td>
        </tr>
      </tbody>
    </table>
<button class="close-button">
<a routerLink="/admindash">Close</a>
</button>
  </div>
  
