<body>
  <div class="header">
    <div>
      <a routerLink="/userdash">Home</a>
      <a routerLink="/orderform">Order</a>
    </div>
    <div class="button">
      <img src="../../assets/cafe photos/profile.jpg" style="width: 30px; height: 30px;" alt="User Profile">
    </div>
  </div>

  <div class="container">
    <div class="frequently-bought">
      <h2>Frequently Bought by Customers</h2>
      <div class="item">
        <h3>Java Chip Frauppucino</h3>
        <img src="../../assets/cafe photos/java chip frauppucino.png" alt="Java Chip Frauppucino" class="round-image" width="150" height="150">
        <p>Rich and creamy coffee with chocolate chips, perfect for chocolate lovers.</p>
      </div>
      <div class="item">
        <h3>Espresso</h3>
        <img src="../../assets/cafe photos/espresso.jpg" alt="Espresso" class="round-image" width="150" height="150">
        <p>Strong coffee brewed by forcing hot water under pressure through finely-ground coffee beans.</p>
      </div>
      <div class="item">
        <h3>Cold Brew</h3>
        <img src="../../assets/cafe photos/cold brew.jpg" alt="Cold Brew" class="round-image" width="150" height="150">
        <p>Smooth and refreshing coffee brewed with cold water over an extended period.</p>
      </div>
    </div>
  </div>
</body>
